@page "/"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h1>Hello, @(context.User.Identity?.Name)</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, anonymous</h1>
    </NotAuthorized>
</AuthorizeView>

@(language.Welcome)

<button class="btn btn-success" @onclick='() => _navigation.NavigateTo("/counter", false)'>Counter</button>

@code {
    HomeViewLanguageModel language => _settingsService.CurrentLanguage.Home;
}