@page "/forbidden"
@attribute [AllowAnonymous]
@implements IDisposable;

<link rel="stylesheet" href="css/handler-pages/forbidden.css" />

<div class="forbidden-container">
    <h1>403</h1>
    <p>@(language.Paragraph)</p>
    <a href="/">@(language.RedirectButton) @secondsRemaining</a>
</div>

@code {
    private ForbiddenViewLanguageModel language => _settingsService.CurrentLanguage.Forbidden;
    private Timer? timer;
    private int secondsRemaining = 5;

    protected override void OnInitialized()
    {
        timer = new Timer(_ =>
        {
            if (secondsRemaining > 0)
            {
                secondsRemaining--;
                InvokeAsync(StateHasChanged);
            }
            else
            {
                InvokeAsync(() => _navigation.NavigateTo("/"));
                timer?.Dispose();
            }
        }, null, 1000, 1000);
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}